.footer-navigation{
    display : none !important;
}
@media(max-width:870px){
    .footer-navigation{
        display: block !important;
    }
    footer.mainfooter{
        display: none !important;
    }
}
