@font-face {
  font-family: 'Netflix Sans';
  src: url('../fonts/NetflixSans-Bold.otf') format('opentype');
}

.popup {
  display: none;
  position: fixed;
  top: calc(50% + 10px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 1000px;
  max-height: calc(100% - 100px);
  background-color: RGB(24, 24, 24);
   overflow-x: hidden;
   overflow-y: auto;
  color: white;
  z-index: 29999;
  border-radius: 10px;
  padding-bottom: 15px;

}

.popup::-webkit-scrollbar {
  width: 0;  /* 스크롤바 너비를 0으로 설정 */
  background: transparent;  /* 스크롤바 배경을 투명으로 설정 */
}

.popup-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
  font-weight: 800;
  color: white;
  z-index: 50;
  border-radius: 50%;
  text-align: center;
  border: 1px solid gray;
  margin-right: 5px;
}

.popup-close:hover {
  transform: scale(1.1);
  border: 2px solid white;
}

.videoContainer {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
  background-color: RGB(24, 24, 24);
}

.titleV span {
  position: absolute;
  z-index: 500;
  bottom: 22%;
  left: 4%;
  font-family: 'Netflix Sans', "Hanna", sans-serif; /* Netflix Sans를 우선 적용 */
  font-size: 60px;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  font-style: italic;

}

.videoSpace {
  overflow: hidden;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.videoContainer video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.temp {
  position: absolute;
  width: 200px;
  height: 50px;
  z-index: 1;
  left: 4%;
  bottom: 12%;
}

.videoContainer .saveLike {
  float: right;
  font-size: 40px; /* 크기 조정 */
  border-radius: 50%;
  margin-top: -5px;
}

.go-button {
  border: 1px solid gray;
  background-color: transparent;
  padding: 0;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-radius: 5px;
  float: left;
  margin-left: 5px;
  width: 120px;
  height: 50px;
  background-color: white;
}

.go-button:hover {
  border: 2px solid gray;
}

.go-button svg {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

.textSpace {
  margin-top: 50px;
  margin-left: 30px;
  align-items: center;
}

.black_bridge {
  position: absolute;
  z-index: 500;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px; /* 크기 조정 */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.textContainer {
  width: 1200px;
  height: 300px; /* 크기 조정 */
  position: relative;
}

.story_box {
  float: left;
  width: 800px;
  height: 300px; /* 크기 조정 */
  background-color: RGB(24, 24, 24);
  font-family: 'Netflix Sans', "Hanna", sans-serif; /* Netflix Sans를 우선 적용 */
    font-size: 35px; /* Increase the font size as desired */
}

.short_box {
  float: left;
  width: 350px;
  height: 100%;

  background-color: RGB(24, 24, 24);
  font-family: 'Netflix Sans', "Hanna", sans-serif; /* Netflix Sans를 우선 적용 */
    font-size: 30px; /* Increase the font size as desired */
}

.tmp {
  width: 500px;
  height: 300px;
  margin: 10px auto 0;
       font-size: 30px; /* Increase the font size as desired */
}


.tmp p:nth-child(2) {
  display: -webkit-box;
  overflow: hidden;
  line-height: 1.2;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-align: left;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
     font-size: 35px; /* Increase the font size as desired */

}

.short_box p {
  margin-top: 10px;
  margin-left: 5px;
  text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
     font-size: 30px; /* Increase the font size as desired */

}

.short_box p span {
  margin-left: 5px;
  text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5);
     font-size: 30px; /* Increase the font size as desired */
}

.level {
  color: green;
}

        .recommend_title {
            font-size: 25px;
            text-align: center;
  font-family: 'Netflix Sans', "Hanna", sans-serif; /* Netflix Sans를 우선 적용 */
  margin-right:10px;
        }

.textContainer .story_box span,
.textContainer .short_box span,
.textContainer .story_box .tmp p span,
.textContainer .short_box p span {
  font-size: 30px;
}

        .recommend p,
        .recommend h2 {
            font-size: 25px;
             margin-top: 10px !important;
               font-family: 'Netflix Sans', "Hanna", sans-serif; /* Netflix Sans를 우선 적용 */
        }



@media (max-width: 890px){

 .popup {
    width: 500px; /* 팝업 창의 너비를 줄입니다. */
    height: 500px; /* 팝업 창의 높이를 줄입니다. */
  }

      .popup-close {
        width:30px;
        height:30px;
        position:absolute;
            right:2%;
            top:2%;
          cursor: pointer;
            font-weight: 800;
          color: white;
          z-index:50;
          border-radius: 50%;
          text-align: center;

        margin-right: 5px;
        }

  .titleV span {
    font-size: 50px; /* 제목의 글자 크기를 줄입니다. */
  }

  .videoContainer video {
    border-radius: 5px; /* 비디오 테두리의 둥글기 정도를 줄입니다. */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* 그림자의 강도를 줄입니다. */
  }

  .story_box {
    width: 300px; /* 스토리 박스의 너비를 줄입니다. */
      font-size: 30px; /* Increase the font size as desired */

  }

  .short_box {
    width: 100px; /* 쇼트 박스의 너비를 줄입니다. */
  }

  .tmp {
    width: 300px; /* tmp 클래스의 너비를 줄입니다. */
     font-size: 30px; /* Increase the font size as desired */
  }
  .tmp p{

     font-size: 30px; /* Increase the font size as desired */
  }




  .tmp p span{
  font-size: 30px; /* Increase the font size as desired */
  }

  .short_box p {
    margin-top: 5px; /* 쇼트 박스의 문단 위쪽 여백을 줄입니다. */
    margin-left: 3px; /* 쇼트 박스의 문단 왼쪽 여백을 줄입니다. */
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.5); /* 그림자의 강도를 줄입니다. */
  }

  .short_box p span {
    margin-left: 3px; /* 쇼트 박스의 문단 내부 요소의 왼쪽 여백을 줄입니다. */
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.5); /* 그림자의 강도를 줄입니다. */
      font-size: 30px; /* Increase the font size as desired */
  }

  }