<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <script th:src="@{/assets/lib/jquery 3.7.0.js}"></script>
<!--  <script th:src="@{/assets/js/main-script.js}"></script>-->
  <link rel="stylesheet" th:href="@{/assets/lib/bootstrap.css}">
  <script th:src="@{/assets/lib/bootstrap.js}"></script>
  <script th:src="@{/assets/lib/bootstrap.bundle.min.js}"></script>
  <link rel="stylesheet" th:href="@{/assets/lib/owl-carousel.css}"/>
  <script th:src="@{/assets/lib/owl-carousel.js}"></script>
  <!--main script file-->

  <script src="https://kit.fontawesome.com/42c6a3cece.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/assets/css/global.css}">
  <link rel="stylesheet" th:href="@{/assets/css/header.css}">
  <link rel="stylesheet" th:href="@{/assets/css/footer.css}">
  <link rel="stylesheet" th:href="@{/assets/css/browse.css}">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <script th:src="@{/assets/js/header.js}"></script>

  <th:block layout:fragment="script"></th:block>
  <th:block layout:fragment="css"></th:block>
</head>
<body>
  <div th:replace="fragments/header::header"></div>

  <div layout:fragment="content" class="content"></div>

  <div th:replace="fragments/footer::footer"></div>
</body>

</html>