<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script"></th:block>

<th:block layout:fragment="css">

  <link rel="stylesheet" th:href="@{/assets/css/userprofile.css}">

</th:block>

<div layout:fragment="content" class="content">
  <main id="mainContainer" class="p-b-40">

    <!--profile section-->
    <section class="userprofile" id="userprofilecontainer">
      <div>
        <h2 class="heading f-s-40">
          계정
        </h2>
      </div>
      <div class="line"></div>
      <div class="membership d-flex flex-no-wrap space-between">
        <div class="left">
          <h4 class="headline">
            멤버쉽 & 결제정보
          </h4>
          <button class="button">멤버쉽 탈퇴</button>
        </div>
        <div class="right">
          <div class="d-flex space-between">
            <div class="email">
              <strong th:text="${member.email}"></strong>
            </div>
            <div class="link">
              <a th:href="" class="link-item">
                계정 이메일 변경
              </a>
            </div>
          </div>

          <div class="d-flex space-between">
            <div class="password">
              <p>비밀번호:*************</p>
            </div>
            <div class="link">
              <a href="#" class="link-item">
                비밀번호 변경
              </a>
            </div>
          </div>

          <div class="d-flex space-between">
            <div class="email">
              <p th:text="${member.phoneNumber}"></p>
            </div>
            <div class="link">
              <a href="#" class="link-item">
                휴대폰 번호 변경
              </a>
            </div>
          </div>
          <div class="line"></div>

          <div class="carddetail d-flex space-between flex-middle">

            <h4><span class="icon-visa">신용카드</span><span th:text="${member.creaditCardNum}"></span></h4>

            <div class="link">
              <a href="#" class="link-item">
                결제 정보 변경
              </a>
              <a href="#" class="link-item">
                결제 상세정보
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="line"></div>

      <!--plan details-->
      <div class=" plan-details d-flex flex-middle space-between">
        <div class="left">
          <h4 class="headline">멤버쉽 상세정보</h4>

        </div>
        <div class="right d-flex space-between">
          <h4><span class="icon-visa" th:text="${member.membershipRole}"></span></h4>
          <a th:href="@{/membership}" class="link-item">멤버쉽 변경</a>
        </div>
      </div>
      <div class="line"></div>

      <!--settings-->
      <div class="settings d-flex ">
        <div class="left">
          <h4 class="headline">보안 & 개인정보</h4>
        </div>
        <div class="right d-flex direction-column">
          <a href="#" class="link-item">엑세스 및 디바이스관리</a>
          <a href="#" class="link-item">모든 디바이스에서 로그아웃</a>
          <a href="#" class="link-item">개인 정보 다운로드</a>
        </div>
      </div>
      <div class="line"></div>

      <!--parental control-->

      <div class="parental-control d-flex">
        <div class="left">
          <h4 class="headline">프로필 & 자녀 보호 설정</h4>
        </div>

        <div class="right">
          <div class="">
            <div class="info-container d-flex flex-middle space-between" th:each="profiles : ${profiles}">
              <div class="name d-flex">
                <img th:src="${profiles.imagePath}" alt="user" class="user-icon" />
                <div class="content">
                  <p class="username" th:text="${profiles.name}"></p>
                  <p class="maturity" th:text="${profiles.maturityLevel}"></p>
                </div>
              </div>
            </div>
            <div class="line"></div>
          </div>

        </div>


      </div>
    </section>
  </main>
</div>



</div>




</html>
