<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<script th:src="@{/assets/lib/jquery 3.7.0.js}"></script>
<link rel="stylesheet" th:href="@{/assets/lib/bootstrap.css}">
<script th:src="@{/assets/lib/bootstrap.js}"></script>
<script src="https://kit.fontawesome.com/42c6a3cece.js" crossorigin="anonymous"></script>

<th:block layout:fragment="script">
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/assets/css/landing-pages.css}">
    <link rel="stylesheet" th:href="@{/assets/css/videoEditForm.css}">
    <style>
        .input-group{
            margin-bottom : 10px;
        }
        .spana{
          height:70px !important;
        }
        .back-button{
          font-size:30px;
          color:white;
          float:left;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <main style="padding: 0px 10px;" >
        <section id="login-form-section">

            <div class="uploadContainer1 d-flex direction-column">
                <span class="spana"> <a class="back-button" href="javascript:window.history.back();" title="홈으로가기"><i class="fa fa-arrow-left"></i></a>
                        <h2>영상 수정</h2></span>

                <form action="/videoUpdate" method="post" th:object="${videoFormDto}" enctype="multipart/form-data">
                    <input type="hidden" name="videoId" th:value="${video.id}"/>

                    <div class="form-group d-flex justify-content-center radio-box mb-2">
                        <input type="radio" class="btn-check" name="videoRole" value="MOVIE" id="option1" autocomplete="off">
                        <label class="btn btn-outline-primary left" for="option1">MOVIE</label>
                        <input type="radio" class="btn-check" name="videoRole" value="DRAMA" id="option2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="option2">DRAMA</label>

                        <input type="radio" class="btn-check" name="videoMaturityLevel" value="ALL" id="option3" autocomplete="off">
                        <label class="btn btn-outline-danger ms-5 left" for="option3">ALL</label>
                        <input type="radio" class="btn-check" name="videoMaturityLevel" value="KID" id="option4" autocomplete="off">
                        <label class="btn btn-outline-danger" for="option4">KID</label>
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">영상명</span>
                        </div>
                        <input type="text" id="videoNm" name="videoNm" th:value="${video.videoNm}" class="form-control" placeholder="영상명을 입력해주세요">
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">감독</span>
                        </div>
                        <input type="text" id="cast" name="cast" th:value="${video.cast}" class="form-control" placeholder="감독명을 입력해주세요">
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">배우</span>
                        </div>
                        <input type="text" id="actors" name="actors" th:value="${video.actors}" class="form-control" placeholder="배우명을 입력해주세요">
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">줄거리</span>
                        </div>
                        <input type="text" id="description" name="description" th:value="${video.description}" class="form-control" placeholder="줄거리를 입력해주세요">
                    </div>

                    <div class="input-group justify-content-center">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="genres" value="로맨스" id="btnradio1" autocomplete="off">
                            <label class="btn btn-outline-warning" for="btnradio1">로맨스</label>

                            <input type="radio" class="btn-check" name="genres" value="액션" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-warning" for="btnradio2">액션</label>

                            <input type="radio" class="btn-check" name="genres" value="스릴러" id="btnradio3" autocomplete="off">
                            <label class="btn btn-outline-warning" for="btnradio3">스릴러</label>

                            <input type="radio" class="btn-check" name="genres" value="일상" id="btnradio4" autocomplete="off">
                            <label class="btn btn-outline-warning" for="btnradio4">일상</label>

                            <input type="radio" class="btn-check" name="genres" value="추리" id="btnradio5" autocomplete="off">
                            <label class="btn btn-outline-warning" for="btnradio5">추리</label>
                        </div>
                    </div>

                    <p>기존에 저장된 이미지 : <span th:text="${video.videoImg.oriImgName}"></span></p>
                    <div class="input-group mb-3">
                        <label class="input-group-text imageUpLoad" for="inputGroupFile01">이미지</label>
                        <input type="file" class="form-control" id="inputGroupFile01" name="videoImgFile">
                    </div>

                    <p>기존에 저장된 동영상 : <span th:text="${video.videoFile.oriFileName}"></span></p>
                    <div class="input-group mb-3">
                        <label class="input-group-text videoUpLoad" for="inputGroupFile02">동영상</label>
                        <input type="file" class="form-control" id="inputGroupFile02" name="videoFile"/>
                    </div>

                    <div class="input-group">
                        <button type="submit" class="btn btn-primary saveButton mx-auto">저장 </button>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    </div>
                </form>
            </div>
        </section>
    </main>
</div>


<script>
function submitForm() {
  document.getElementById("videoListForm").submit();
}
$(document).ready(function(){
    const maturityLevel = "[[${video.videoMaturityLevel}]]";
    const genre = "[[${video.genres}]]";
    const videoRole = "[[${video.videoRole}]]";
    const option1 = document.getElementById("option1");
    const option2 = document.getElementById("option2");

    if (videoRole === option1.value) {
      option1.checked = true;
    }

    if (videoRole === option2.value) {
      option2.checked = true;
    }

  const option3 = document.getElementById("option3");
  const option4 = document.getElementById("option4");

  if (maturityLevel === option3.value) {
    option3.checked = true;
  }

  if (maturityLevel === option4.value) {
    option4.checked = true;
  }

  const option5 = document.getElementById("btnradio1");
  const option6 = document.getElementById("btnradio2");
  const option7 = document.getElementById("btnradio3");
  const option8 = document.getElementById("btnradio4");
  const option9 = document.getElementById("btnradio5");

  if (genre === option5.value) {
    option5.checked = true;
  }
  if (genre === option6.value) {
    option6.checked = true;
  }
  if (genre === option7.value) {
    option7.checked = true;
  }
  if (genre === option8.value) {
    option8.checked = true;
  }
  if (genre === option9.value) {
    option9.checked = true;
  }


  function validateForm() {
  }





});


</script>

</html>

