<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="footer" th:fragment="footer">
<footer class="mainfooter d-flex justify-content-center space-between" id="footer">
  <div class="container footer-container">
    <div class="widgets d-flex space-between">
      <div class="first-widget">
        <ul>
          <li class="list-item">음성 및 자막</li>
          <li class="list-item">미디어 센터</li>
          <li class="list-item">개인 정보 처리방침</li>
        </ul>
      </div>
      <div class="second-widget">
        <ul>
          <li class="list-item">고객 센터</li>
          <li class="list-item">입사 정보</li>
        </ul>
      </div>
      <div class="third-widget">
        <ul>
          <li class="list-item">기프트 카드</li>
          <li class="list-item">쿠키 설정</li>
        </ul>
      </div>
      <div class="forth-widget">
        <ul>
          <li class="list-item">투자 정보(IR)</li>
          <li class="list-item">이용 약관</li>
        </ul>
      </div>
    </div>
    <button class="button service">서비스 코드</button>
    <p class="copyright">@Copyright 2023. netflix, Inc.</p>
  </div>
</footer>


<!--footer 반응형 부분-->
<div class="footer-navigation d-flex justify-content-center space-between">
  <a th:if="${session.profileNm != null}" th:href="@{/home/{profileId}(profileId=${session.profileNm})}" class="nav-item active">
    <i class="fa fa-home" aria-hidden="true"></i> </br>
    Home
  </a>
  <a href="/search" class="nav-item">
    <i class="fa fa-search" aria-hidden="true"></i></br>
    Search
  </a>
  <a th:if="${session.profileNm != null}" th:href="@{/mylist/{profileId}(profileId=${session.profileNm})}" class="nav-item">
    <i class="fa fa-film" aria-hidden="true"></i></br>
    MyList
  </a>

  <a href="/user" class="nav-item">
    <i class="fa fa-user" aria-hidden="true"></i></br>
    Account
  </a>
</div>

</div>
</div>

</html>