<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div th:fragment="header">
    <header class="d-flex space-between flex-center flex-middle container">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <div class="nav-links d-flex flex-center flex-middle">
            <a th:href="@{/}">
                <img th:src="@{/images/Netflix_Logo.png}" class="main_logo_img" alt="메인로고이미지">
                <img th:src="@{/images/pngwing.com.png}" class="main_small_img" alt="">
            </a>
            <a th:href="@{/}" class="nav-item home">홈</a>
            <a th:href="@{/movie/{profileId}(profileId=${session.profileNm})}" class="nav-item">영화</a>
            <a th:href="@{/drama/{profileId}(profileId=${session.profileNm})}" class="nav-item">드라마</a>
            <a th:href="@{/recent/{profileId}(profileId=${session.profileNm})}" class="nav-item">최근 시청기록</a>
            <a th:href="@{/mylist/{profileId}(profileId=${session.profileNm})}" class="nav-item">내가 찜한 콘텐츠</a>
            <a th:href="@{/video/new}" class="nav-item">비디오 업로드 </a>
        </div>
        <div class="righticons d-flex flex-end flex-middle">
            <a th:href="@{/search/{profileId}(profileId=${session.profileNm})}">
                <img src="../../images/icons/search.svg" alt="search icon" />
            </a>
            <div class="dropdown notification">
                <img src="../../images/icons/notification.svg" alt="notification icon" />
                <div class="dropdown-content" id="notification-item">
                    <th:block th:each="video : ${videoImgs}">
                        <a href="#" class="profile-item notification-item1 d-flex">
                            <img th:src="${video.imgUrl}" alt="uploaded video image" class="video-img align-self-stretch">

                            <div class="align-self-center d-flex flex-column">
                                <span class="mb-2" th:text="${video.video.videoNm}"></span>
                                <p class="pt-2" th:text="${#dates.format(video.uploadDate, 'yyyy-MM-dd HH:mm:ss')}">업로드 시간? 지나온 기간</p>
                            </div>
                        </a>
                    </th:block>
                    <!-- 기타 알림 항목 -->
                </div>
            </div>


            <!-- 프로필 구간 -->
            <div class="dropdown">
                <img th:src="${selectedProfile.imageUrl}" alt="user profile icon" class="user-icon" />

                <span class="profile-arrow"></span>

                <div class="dropdown-content">
                    <div class="profile-links">
                        <th:block th:each="profile : ${otherProfiles}" th:if="${profile.id != selectedProfile.id}">
                            <a th:href="@{/profile/home/{profileId}(profileId=${profile.id})}"
                               class="profile-item d-flex flex-middle hide-profile">
                                <img th:src="${profile.imageUrl}" alt="user profile icon" class="user-icon" />
                                <span th:text="${profile.name}"></span>
                            </a>
                        </th:block>
                    </div>
                    <div class="line"></div>
                    <div class="links d-flex direction-column">
                        <a th:href="@{/profile/profile}">프로필 관리</a>
                        <a th:href="@{/user}">계정</a>
                        <a href="#">고객센터</a>
                        <a href="/">로그아웃</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

</html>
