<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <script th:src="@{/assets/lib/jquery 3.7.0.js}"></script>

<div th:fragment="header">
    <header class="d-flex space-between flex-center flex-middle container">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <div class="nav-links d-flex flex-center flex-middle" id="headerMainContents">
            <a th:href="@{/home/{profileId}(profileId=${session.profileNm})}">
                <img th:src="@{/images/Netflix_Logo.png}" class="main_logo_img" alt="메인로고이미지">
                <img th:src="@{/images/pngwing.com.png}" class="main_small_img" alt="">
            </a>
            <a th:href="@{/home/{profileId}(profileId=${session.profileNm})}" class="nav-item home" id="header-home">홈</a>
            <a th:href="@{/movie/{profileId}(profileId=${session.profileNm})}" class="nav-item" id="header-movie">영화</a>
            <a th:href="@{/drama/{profileId}(profileId=${session.profileNm})}" class="nav-item" id="header-drama">드라마</a>
            <a th:href="@{/kid/{profileId}(profileId=${session.profileNm})}"  class="nav-item" id="header-kids">키즈</a>
            <a th:href="@{/recent/{profileId}(profileId=${session.profileNm})}"   sec:authorize="hasRole('ROLE_USER')" class="nav-item">최근 시청기록</a>
            <a th:href="@{/mylist/{profileId}(profileId=${session.profileNm})}"  sec:authorize="hasRole('ROLE_USER')" class="nav-item">내가 찜한 콘텐츠</a>
            <a th:href="@{/video/new}" sec:authorize="hasRole('ROLE_ADMIN')"  class="nav-item">비디오 업로드 </a>
            <a th:href="@{/videoListForm}" sec:authorize="hasRole('ROLE_ADMIN')"  class="nav-item">비디오 조회 및 수정 </a>
            <a th:href="@{/members/memberList}" sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">회원정보 조회/수정</a>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
        </div>

        <div class="righticons d-flex flex-end flex-middle">
            <a class="rightsearch" th:href="@{/search}">
                <img src="../../images/icons/search.svg" alt="search icon" />
            </a>
            <div class="dropdown notification">
                <img src="../../images/icons/notification.svg" alt="notification icon" />
                <div class="dropdown-content" id="notification-item">
                    <th:block th:each="video : ${videoImgs}" >
                        <a href="#" class="profile-item notification-item1 d-flex searchlist getRecent">
                            <img th:src="${video.imgUrl}" alt="uploaded video image" class="video-img align-self-stretch">

                            <div class="align-self-center d-flex flex-column" th:data-video-url="@{${video.video.videoFile.fileUrl}}"
                                 th:data-video-nm="@{${video.video.videoNm}}"
                                 th:data-video-genres="@{${video.video.genres}}"
                                 th:data-video-description="@{${video.video.description}}"
                                 th:data-video-actors="@{${video.video.actors}}"
                                 th:data-video-cast="@{${video.video.cast}}"
                                 th:data-video-recent="@{${video.video.id}}"
                                 th:data-video-id="${video.video.id}"
                                 th:data-video-level="${video.video.videoMaturityLevel}"
                                 th:data-iColor="${favoriteVideos != null && favoriteVideos.contains(video.video.id) ? 'red' : 'white'}"

                            >
                                <span class="mb-2" th:text="${video.video.videoNm}"></span>
                                <p class="pt-2" th:text="${#dates.format(video.uploadDate, 'yyyy-MM-dd')}"></p>
                            </div>
                        </a>
                    </th:block>
                    <!-- 기타 알림 항목 -->
                </div>
            </div>


            <!-- 프로필 구간 -->
            <div class="dropdown">
                <img th:src="${selectedProfile.imageUrl}" alt="user profile icon" class="user-icon" />

                <span class="profile-arrow"></span>

                <div class="dropdown-content">
                    <div class="profile-links">
                        <th:block th:each="profile : ${otherProfiles}" th:if="${profile.id != selectedProfile.id}">
                            <a th:href="@{/profile/home/{profileId}(profileId=${profile.id})}"
                               class="profile-item d-flex flex-middle hide-profile">
                                <img th:src="${profile.imageUrl}" alt="user profile icon" class="user-icon" />
                                <span th:text="${profile.name}"></span>
                            </a>
                        </th:block>
                    </div>
                    <div class="line"></div>
                    <div class="links d-flex direction-column">
                        <a th:href="@{/profile/profile}">프로필 관리</a>
                        <a th:href="@{/user}">계정</a>
                        <a href="#">고객센터</a>
                        <a th:href="@{/logout}">로그아웃</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<script>
 $(document).ready(function() {
  $(".dropdown").on("click", function() {
    $(this).find(".dropdown-menu").toggleClass("show");
  });

  $(document).on("click", function(event) {
    var dropdown = $(".dropdown");
    if (!dropdown.is(event.target) && dropdown.has(event.target).length === 0) {
      dropdown.find(".dropdown-menu").removeClass("show");
    }
  });
});


  $(document).ready(function() {

    $(".pt-2").each(function() {
      var uploadDate = new Date($(this).text()); // 업로드 날짜를 가져옵니다.
      var currentDate = new Date(); // 현재 날짜를 가져옵니다.
      var timeDiff = currentDate.getTime() - uploadDate.getTime(); // 현재 날짜와 업로드 날짜의 차이를 계산합니다.
      var daysDiff = Math.floor(timeDiff / (1000 * 60 * 60 * 24)); // 일 단위로 변환합니다.


      if (daysDiff === 1) {
        $(this).text("1일 전");
      } else if (daysDiff === 2) {
        $(this).text("2일 전");
      } else {
        $(this).text(daysDiff + "일 전");
      }
    });
  });
</script>
</html>
