<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="script">
    <script th:src="@{/assets/js/main-script.js}"></script>
    <script th:src="@{/assets/js/pop-up.js}"></script>

</th:block>
<style th:inline="text">
        .recommend {
            width: 300px !important;
            height: 300px !important;
            background-color: yellow;
        }
    </style>


<div th:fragment="myPopup" class="popup">
    <!--  <div class="popup">-->
    <div class="videoContainer">
        <div class="popup-close">
            <img th:src="@{/images/icons/popup_close.png}" alt="">
        </div>

        <h2 class="titleV"></h2>
        <div class="temp ">
            <button class="go-button fullSpeed">

                            <span>
                                <svg viewBox="0 0 24 24">
                                    <path d="M6 4l15 8-15 8z" fill="currentColor"></path>
                                </svg>
                            </span>
                <a>재생</a>
            </button>

            <div class="like-button saveLike findI "  >
                <i class="fa-regular fa-heart fas " th:data-video-id  th:data-iColor th:data-video-check></i>
            </div>
        </div>
        <div class="black_bridge">

        </div>
        <!-- 비디오 컨테이너 -->
    </div>

    <!-- 비디오 컨테이너 -->

    <div class="textContainer" data-video-id>
        <!-- 여기가 텍스트를 주입하는 곳 -->


        <div class="story_box">

            <div class="tmp">
            <p>  <span style="color:#717171;"> 제목:  </span> <span class=" subject1">  </span> </p >

            <p><span style="color:#717171;"> 설명:  </span> <span class="story">  </span>
            </p >
            </div>

        </div>
        <div class="short_box">
<!--            th:data-video-level="${video.videoMaturityLevel}"-->
            <p >  <span style="color:#717171;"> 등급 </span>
                <span class="level" > </span>
            </p>

            <p >  <span style="color:#717171;"> 장르 </span>
                <span class="ganre" > </span>
            </p>

            <p>
                <span style="color:#717171;"> 감독 </span>
                <span class="videoCast"> </span>
            </p>

            <p>
                <span style="color:#717171;"> 배우 </span>
                <span class="actor"> </span>


            </p>



        </div>

    </div>
    <p class="recommend_title" th:if="${randomVideo2 != null}">추천 콘텐츠</p>
    <div class=" d-flex justify-content-center ">

        <div class="searchlist getRecent recommend text-center" th:each="rdvideo : ${randomVideo2}"
             th:if="${randomVideo2!= null}" style=" background-color:rgb(51, 51, 51) ; width:450px; height:320px; margin:15px display:inline-block;">
            <img th:if="${rdvideo.videoImg != null}" th:src="@{${rdvideo.videoImg.imgUrl}}" alt="Video Image"  th:data-video-url="@{${rdvideo.videoFile.fileUrl}}"
                 style=" margin-top:17px;  width:400px;   "
                 th:data-video-nm="@{${rdvideo.videoNm}}"
                 th:data-video-genres="@{${rdvideo.genres}}"
                 th:data-video-description="@{${rdvideo.description}}"
                 th:data-video-actors="@{${rdvideo.actors}}"
                 th:data-video-cast="@{${rdvideo.cast}}"
                 th:data-video-recent="@{${rdvideo.id}}"
                 th:data-video-id="@{${rdvideo.id}}"
                 th:data-video-level="${rdvideo.videoMaturityLevel}"
                 th:data-iColor="${favoriteVideos != null && favoriteVideos.contains(rdvideo.id) ? 'red' : 'white'}"
            >
            <h2 th:if="${rdvideo.videoImg == null}">검색 결과 없음</h2>
            <p th:text="${rdvideo.videoNm + ' #' + rdvideo.genres}" style="margin-top:10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" th:if="${rdvideo != null}"></p>

<!--            <span th:text="'#' + ${rdvideo.genres}"></span>-->
        </div>

    </div>



    <!--  </div>-->
</div>






</html>