<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="script">
    <script th:src="@{/assets/js/main-script.js}"></script>
    <script th:src="@{/assets/js/pop-up.js}"></script>

</th:block>

<div th:fragment="myPopup" class="popup">
    <!--  <div class="popup">-->
    <div class="videoContainer">
        <div class="popup-close">x</div>

        <div class="temp ">
            <button class="go-button fullSpeed"   >
          <span>
            <svg viewBox="0 0 24 24">
              <path d="M6 4l15 8-15 8z" fill="currentColor"></path>
            </svg>
          </span>
            </button>

            <div class="like-button saveLike"  >
                <i class="fa-regular fa-heart fas " data-video-id  data-iColor ></i>
            </div>
        </div>

        <!-- 비디오 컨테이너 -->
    </div>

    <!-- 비디오 컨테이너 -->

    <div class="textContainer">
        <!-- 여기가 텍스트를 주입하는 곳 -->
    </div>
    <!--  </div>-->
</div>






</html>