<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/assets/css/landing-pages.css}">
  <style>

  </style>
</th:block>

<div layout:fragment="content">


  <main style="padding: 0px 10px;" >
    <header class="d-flex space-between middle-align">
      <a href="/">
        <img th:src="@{/images/logo.png}" height="50px" width="170px" alt="site logo main" style="margin: auto;"></img>
      </a>
    </header>
    <section id="login-form-section">
      <!--Login form start-->

<!--      <div class="loginContainer d-flex direction-column">-->
<!--        session 값 확인: <p th:text="${session.loginConfirm}"></p>-->
        <h2 class="formtitle">
          로그인
        </h2>
        <form action="/member/login" id="loginForm" class="d-flex direction-column" method="post" name="loginForm">

          <label for="email">email:</label>
          <input type="text" name="email" id="email" class="email" placeholder="이메일 주소 입력" onchange="validateEmail()" required/>
          <p id="errorEmail"> &nbsp;이메일 주소 입력해주세요.</p>

          <label for="password">password:</label>
          <input type="password" name="password" id="password" placeholder="비밀번호" required/>
          <p id="errorPassword"> &nbsp;비밀번호 입력해주세요.</p>

          <input type="submit" value="로그인">
<!--          <button type="submit" class="button submitButton" id="signInButton" disabled="disabled">-->
<!--&lt;!&ndash;            <a style="text-decoration: none; color: white;" href="/user_dashboard/browse.html">로그인</a>&ndash;&gt;-->
<!--
        </button>-->

          <div class="rememberMe">
            <input type="checkbox" name="rememberMe" id="rememberMe" class="rememberMe">
            <label for="rememberMe"><span class="login-remember-me-label-text">로그인 정보 저장</span></label>
            <p>
              <br/>
            </p>
          </div>
          <p class="signUpText para">
            Netflix 회원이 아닌가요?<span class="signUp"><a href="/register.html">&nbsp;&nbsp;&nbsp;지금 가입하세요.</a></span>
          </p>
          <p class="bottomMessage para" style="font-size: 13px;">
            이 페이지는 Google reCAPTCHA의 보호를 받아 사용자가 로봇이 아님을 확인합니다. <span style="color:royalblue; font-size: 15px;"> 자세히알아보기.</span>
          </p>
        </form>
      </div>

      <!--Login form End-->
    </section>
  </main>

  <script>
          //function to validate email address on input text change and enable submit button if it's true
          document.getElementById('errorEmail').style.display = "none";
          document.getElementById('errorPassword').style.display = "none";
          function validateEmail() {
              let email = document.getElementById('email').value;
              let re = /\S+@\S+\.\S+/;
              let result = re.test(email);
              if (result) {
                  document.getElementById('errorEmail').style.display = "none";
                  document.getElementById('signInButton').disabled = false;
                 // document.getElementById("email-form").submit();
              }
              else {
                  document.getElementById('errorEmail').style.display = "block";
                  document.getElementById('signInButton').disabled = true;
              }
          }

  document.getElementById("signInButton")?.addEventListener("click", function(e){
     e.preventDefault();
  })
      </script>
</div>

</html>
