<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Netflix logout</title>
  <meta name="description" content="Watch Netflix movies & TV shows online or stream right to your smart TV, game console, PC, Mac, mobile, tablet and more.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" th:href="@{/assets/css/global.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/landing-pages.css}" />

  <script>
    // 페이지 로드 시 카운트다운 및 페이지 이동
    var count = 10;
    var countdown = setInterval(function() {
      count--;
      if (count <= 0) {
        clearInterval(countdown);
        window.location.href = "/members/login";
      }
      document.getElementById("countdown").textContent = count;
    }, 1000);
  </script>
</head>
<body>
<main style="padding: 0px 10px;">
  <header class="d-flex space-between middle-align">
    <img th:src="@{/images/logo.PNG}" height="50px" width="170px" alt="site logo main" />
    <button class="button"><a th:href="@{/members/login}">로그인</a></button>
  </header>
  <section id="logout-section d-flex flex-center">
    <div class="logoutContainer f-s-20 d-flex flex-center direction-column">
      <h2 class="signOutHeader f-s-28 f-w-4" style="margin: 0;">
        벌써 나가시려고요?
      </h2>
      <p class="logoutMessage" style="font-size: 15px;">
        참고로 알려드리면, 매번 Netflix에서 로그아웃하실
        <br/>필요는 없습니다. 공용 컴퓨터에서 이용한 경우에만
        <br/>로그아웃하시면 됩니다.
      </p>

      <p class="logoutMessage">
        <span id="countdown">10</span>초 후 로그인 페이지로 자동으로 이동합니다.
      </p>
      <button class="button logoutButton">
        <a th:href="@{/members/login}">로그인하러가기</a>
      </button>
    </div>
  </section>
</main>
</body>
</html>
