<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/assets/css/profile.css}">
</th:block>
<div layout:fragment="content">
    <body>
    <div>
        <div>
            <img th:src="@{/images/Netflix_Logo.png}" class="main_logo_img" alt="메인로고이미지">
        </div>
        <div class="profile-aria">

            <div>
                <p class="tv">프로필 변경</p>
            </div>

            <div class="button">
                <a href="/" class="made-profile"><p> 프로필 관리</p></a>
            </div>
        </div>
    </div>


    </body>
</div>
</html>
