<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/assets/css/profile.css}">
</th:block>
  <div layout:fragment="content">
    <body>
    <div>
      <div>
        <img th:src="@{/images/Netflix_Logo.png}" class="main_logo_img" alt="메인로고이미지">
      </div>
      <div class="profile-aria">
        <!-- 텍스트 -->
        <div>
          <p class="tv">넷플릭스를 시청할 프로필을 선택하세요.</p>
        </div>
        <!-- 프로필 카드 리스트 -->
        <div>
            <ul th:unless="${profiles == null}">
<!--                <ul th:unless="${userNames == null}">-->
                <li th:each="profile, status : ${profiles}">
                    <div class="profile">
                        <div class="profile-card">
                            <a th:attr="profile_index=${status.count}" onclick="sendIndex(this)">
                                <img th:alt="${'userimg' + status.count}"
                                     th:if="${profile != null && profile.img_url != null && !profile.img_url.isEmpty()}"
                                     th:src="@{${profile.img_url}}" />
                                <img th:alt="userimg" th:unless="${profile != null && profile.img_url != null && !profile.img_url.isEmpty()}"
                                     th:src="@{/images/icons/plus.png}" />
                            </a>
                        </div>
                        <p class="profile-card 1" th:text="${profile != null ? profile.name : '추가'}">윤영민</p>
                    </div>
                </li>
            </ul>
            <ul>
                <li th:each="num : ${#numbers.sequence(temp_index, 5)}" th:if="${num le 5}">
                    <div class="profile">
                        <div class="profile-card">
                            <a th:attr="profile_index=${num}" th:href="@{/profile-change(profileIndex=${num})}" onclick="sendIndex(this)">

                                <img th:alt="userimg" th:src="@{/images/icons/plus.png}" />
                            </a>
                        </div>
                        <p class="profile-card-1" th:text="${null} ? '추가'">추가</p>
                    </div>
                </li>
            </ul>

        </div>

        <div class="button">
          <a href="/" class="made-profile"><p> 프로필 관리</p></a>
        </div>
      </div>

    </div>

    <script>


<!--  function sendIndex(element) {-->
<!--    var index = element.getAttribute("profile_index");-->

<!--    var form = document.createElement("form");-->
<!--    form.method = "POST";-->
<!--    form.action = "/profile";-->

<!--    var input = document.createElement("input");-->
<!--    input.type = "hidden";-->
<!--    input.name = "index";-->
<!--    input.value = parseInt(index);-->

<!--    form.appendChild(input);-->
<!--    document.body.appendChild(form);-->
<!--    form.submit();-->
<!--  }-->
</script>


    </body>
  </div>
</html>
