<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/assets/css/profile-change.css}">
</th:block>
<script src="https://kit.fontawesome.com/42c6a3cece.js" crossorigin="anonymous"></script>
<div layout:fragment="content">
    <body>
    <div>
        <div>
            <img th:src="@{/images/Netflix_Logo.png}" class="main_logo_img" alt="메인로고이미지">

        </div>
        <div class="profile-aria">

            <div>
                <p class="tv">프로필 변경</p>
            </div>
            <div class="profile-card">
                <img th:src="@{${profile.profileImageUrl}}" alt="selectuserimg">
                <button class="pen" type="button" onclick="location.href='/profile'";><i class="fa-solid fa-pen">
                    <input type="file" id="profileImage" name="profileImage">

                </i></button>
            </div>
            <div class="change-main">
                <input type="text" value="윤영민">
                <br/>
                <br/>
                <p class="lang">언어</p>
                <label for="langs" class="langs"></label>
                <select  id="langs">
                    <option label="한국어">한국어</option>
                    <option label="English">English</option>
                </select>
                <p class="nick">게임 닉네임:</p>
                <p class="nick-content"> 닉네임은 모든 넷플릭스 게임에서 다른 넷플릭스 회원들과 같이 플레이할때 사용되는 고유의 이름입니다. <a href="/" class="nicka">자세히알아보기</a> </p>
                <input type="text" value="게임 닉네임 등록">
                <h4 class="sector">관람등급 설정: </h4>
                <p class="p2">모든 관람등급</p>
                <p class="nick">이프로필에서는 모든 관람등급의 콘텐츠가 표시됩니다.</p>
                <button>수정</button>



                <div class="buttonzip">
                    <div class="button">
                        <input type="submit" value="저장" class="active">
                    </div>
                    <div class="button">
                        <input type="submit" value="취소">
                    </div>
                    <div class="button">
                        <input type="submit" value="프로필 삭제">
                    </div>
                </div>
            </div>
        </div>

    </div>


    </body>
</div>
</html>
