<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<script th:src="@{/assets/lib/jquery 3.7.0.js}"></script>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/assets/css/profile-change.css}">
</th:block>

<script src="https://kit.fontawesome.com/42c6a3cece.js" crossorigin="anonymous"></script>

<div layout:fragment="content">
    <body>
    <div>
        <div>
            <img th:src="@{/images/Netflix_Logo.png}" class="main_logo_img" alt="메인로고이미지">
        </div>
        <div class="profile-aria">
            <div>
                <p class="tv">프로필 생성</p>
            </div>
            <div class="profile-card">
                <img th:src="@{/images/icons/user1.PNG}" alt="selectuserimg">
                <button class="pen" type="button" onclick="location.href='/'"><i class="fa-solid fa-pen"></i></button>
            </div>
            <div class="change-main">
                <input type="text" id="name" placeholder="이름 등록">
                <br/>
                <br/>
                <p class="lang">언어</p>
                <label for="langs" class="langs"></label>
                <select id="langs">
                    <option label="한국어">한국어</option>
                    <option label="English">English</option>
                </select>
                <p class="nick">게임 닉네임:</p>
                <p class="nick-content"> 닉네임은 모든 넷플릭스 게임에서 다른 넷플릭스 회원들과 같이 플레이할 때 사용되는 고유의 이름입니다. <a href="/" class="nicka">자세히 알아보기</a></p>
                <input type="text" id="nickname" placeholder="게임 닉네임 등록">
                <h4 class="sector">관람등급 설정:</h4>
                <label for="maturityLevel"></label>
                <select id="maturityLevel">
                    <option class="p2">모든 관람등급</option>
                    <option class="p2">키즈 등급</option>
                </select>
                <p><br/></p>
                <p class="nick">이 프로필에서는 모든 관람등급의 콘텐츠가 표시됩니다.</p>

                <div class="buttonzip">
                    <div class="button">
                        <button class="click" onclick="saveProfile()">저장</button>
                        <button class="click">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

    <script>
    function getCsrfToken() {
        var name = "_csrf";
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                return decodeURIComponent(cookie.substring(name.length + 1));
            }
        }
        return null;
    }

    function saveProfile() {
        var profileData = {
            name: document.getElementById("name").value,
            language: document.getElementById("langs").value,
            nickname: document.getElementById("nickname").value,
            maturityLevel: document.getElementById("maturityLevel").value,
            profileImageUrl: ""
        };

        $.ajax({
            type: "POST",
            url: "/profile/saveProfile", // 수정된 URL 경로
            data: JSON.stringify(profileData),
            contentType: "application/json",
            headers: {
                "X-CSRF-TOKEN": getCsrfToken()
            },
            success: function(response) {
                console.log(response);
                // 저장 완료 메시지 또는 다른 동작 수행
            },
            error: function(error) {
                console.log(error);
                // 오류 메시지 또는 다른 동작 수행
            }
        });
    }
</script>
</div>
</html>
</DOCTYPE>