<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">
    <script th:src="@{/assets/js/main-script.js}"></script>
    <script th:src="@{/assets/js/pop-up.js}"></script>

</th:block>

<th:block layout:fragment="css">


    <!-- <link rel="stylesheet" th:href="@{/assets/css/global.css}"> -->
    <link rel="stylesheet" th:href="@{/assets/css/browse.css}">
    <link rel="stylesheet" th:href="@{/assets/css/popup.css}">
    <!--    팝업에 대한 css -->
    <style>


    </style>
</th:block>


<div layout:fragment="content" class="content">
    <main id="mainContainer" class="p-b-40">
        <div th:replace="fragments/popup :: myPopup"></div>
        <!-- hero section -->
        <div class="">
            <section id="browse-dashboard" class=" d-flex direction-column flex-start middle-align" th:with="randomVideo=${randomVideo}" th:if="${randomVideo != null}" >
                <div>
                    <!--trailer video-->
                    <video class="hero-background-image p-b-40" id="hero-video" th:poster="${randomVideo.videoImg.imgUrl}">
                        <!--                           th:poster="@{/images/main_img/hot1.jpg}">-->

                        >
                        <source th:src="${randomVideo.videoFile.fileUrl}"
                                type="video/mp4">
                    </video>

                    <!--left shadow-->
                    <div class="shadow-layer"></div>
                </div>

                <div class="container text-container" style="z-index: 5;">
                    <div class="contentlogo">
                        <img th:src="@{/images/tv-show/poster/never-have-ever-logo.webp}" alt="content logo"
                             class="show-logo" style="opacity:0" />
                    </div>
                    <!--top 10 ranking badge svg-->
                    <div class="ranking d-flex m-t-20 flex-middle">
                        <span class="p-l-10" th:text=" ${randomVideo.videoNm}"></span>
                    </div>

                    <div class="synopsis m-t-20" style="max-width: 500px;">
                        <p th:text="${randomVideo.description}">
                            <!--                            An overdue honeymoon. A shocking crime. A roomful of suspects. If Nick and Audrey can stay alive, this could be their best vacation ever.-->
                        </p>
                    </div>
                    <div class="buttons-container m-t-20 searchlist getRecent"  >
                        <button class="play-button full">

                            <span>
                                <svg viewBox="0 0 24 24">
                                    <path d="M6 4l15 8-15 8z" fill="currentColor"></path>
                                </svg>
                            </span>
                            <a>재생</a>
                        </button>

                        <span class="findI">
                            <button class="more-info-button m-t-20 " th:data-video-url="@{${randomVideo.videoFile.fileUrl}}"
                                    th:data-video-nm="@{${randomVideo.videoNm}}"
                                    th:data-video-genres="@{${randomVideo.genres}}"
                                    th:data-video-description="@{${randomVideo.description}}"
                                    th:data-video-actors="@{${randomVideo.actors}}"
                                    th:data-video-cast="@{${randomVideo.cast}}"
                                    th:data-video-recent="@{${randomVideo.id}}"
                                    th:data-video-id="@{${randomVideo.id}}"
                                    th:data-iColor="${favoriteVideos != null && favoriteVideos.contains(randomVideo.id) ? 'red' : 'white'}"
                                    th:data-video-level="${randomVideo.videoMaturityLevel}"
                                    th:data-video-Role="@{${randomVideo.videoRole}}"
                            >
                                <span>
                                        <svg viewBox="0 0 24 24">
                                            <path
                                                    d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10zm-2 0a8 8 0 0 0-8-8 8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8zm-9 6v-7h2v7h-2zm1-8.75a1.21 1.21 0 0 1-.877-.364A1.188 1.188 0 0 1 10.75 8c0-.348.123-.644.372-.886.247-.242.54-.364.878-.364.337 0 .63.122.877.364.248.242.373.538.373.886s-.124.644-.373.886A1.21 1.21 0 0 1 12 9.25z"
                                                    fill="currentColor"></path>
                                        </svg>
                                </span>더보기
                            </button >
                        </span>
                    </div>

                </div>
            </section>
        </div>

        <!--paretn div with black bg after main hero section-->
        <div class="black-background"  >


            <!--hollywood new release -->
            <section th:each="subject: ${subjects}" id="mylist" class="container">

                <!--                여기서부터 -->
                <h4 class="mylist-heading" >

                    <span th:text="${subject}"></span>영화
                </h4>

                <div class="mylist-container d-flex flex-start flex-middle flex-no-wrap owl-carousel">
                    <div th:if="${videos != null and video.genres.contains(subject)}" th:each="video : ${videos}" class="video searchlist getRecent ">
                        <video class="mylist-img p-r-10 p-t-10 video-item"
                               th:poster="${video.videoImg.imgUrl}">
                            <!--                            poster부분도 for each문으로 반복문을 돌려야한다 -->
                            <source
                                    th:src="${video.videoFile.fileUrl}"
                                    type="video/mp4">
                            <!--                            Your browser does not support the video tag.-->
                        </video>

                        <div class="video-description d-flex flex-end direction-column " th:data-video-url="@{${video.videoFile.fileUrl}}"
                             th:data-video-nm="@{${video.videoNm}}"
                             th:data-video-genres="@{${video.genres}}"
                             th:data-video-description="@{${video.description}}"
                             th:data-video-actors="@{${video.actors}}"
                             th:data-video-cast="@{${video.cast}}"
                             th:data-video-recent="@{${video.id}}"
                             th:data-video-id="${video.id}"
                             th:data-video-level="${video.videoMaturityLevel}"
                             th:data-video-Role="${video.videoRole}"

                        >
                            <div class="play-button d-flex justify-content-start ">
                                <svg viewBox="0 0 24 24" class="full" >
                                    <path d="M6 4l15 8-15 8z" fill="black"></path>
                                </svg>


                                <!--                                -->

                                <div class="like-button saveLike findI" >
                                    <i class="fa-regular fa-heart fas " th:data-video-id="${video.id}" th:data-iColor="${favoriteVideos != null && favoriteVideos.contains(video.id) ? 'red' : 'white'}"></i>
                                </div>

                                <!--                                -->

                            </div>
                            <div>
                                <h4 class="heading f-w-8 text-shadow">
                                    <!--                                    Never Have I Ever-->
                                    <p th:text="${video.videoNm}"></p>

                                </h4>
                            </div>
                            <div class="info d-flex flex-middle flex-no-wrap">
                                <p th:text="${video.videoMaturityLevel}"></p>
                                <!--                                <p class="rated text-shadow"><strong>18+</strong></p>-->
                                <!--                                                                <p class="season-count text-shadow">시즌 1</p>-->
                            </div>
                            <div class="genere d-flex flex-no-wrap text-shadow">
                                <p th:text="'#' + ${video.genres}"></p>
                                <!--                                <p>#선정성</p>-->
                                <!--                                <p>#로맨스</p>-->
                                <!--                                <p>#사랑</p>-->
                            </div>
                        </div>
                    </div>

                </div>



            </section>
            <!--                세션 기준으로 장르별로 나눈다 여기까지 할리우드? 임의로 슬리러 장르를 for each문 -->
            <script th:inline="javascript">

                       function deleteEmptySessions() {
                        var sessions = document.querySelectorAll('#mylist');
                        sessions.forEach(function(session) {
                            var searchListElements = session.getElementsByClassName('searchlist');
                            if (searchListElements.length === 0) {
                                session.remove();
                            }
                        });
                        }

                        // deleteEmptySessions 함수 호출
                        deleteEmptySessions();

                    </script>



        </div>
    </main>
</div>










</html>
